{% extends 'base.html.twig' %}

{% block title %}Edit client {{ client.id }} | {{ client.name }} {{ client.surname}}{% endblock %}

{% block body %}
    <h1 class="header yellow">Edit client {{ client.id }}</h1>

    <a class="btn btn-default" href="{{ path('client_index') }}">List</a>
    <a class="btn btn-default" href="{{ path('client_show', {'id': client.id}) }}">Preview</a>
    {{ include('client/_delete_form.html.twig') }}

    {{ form_start(form) }}

    <div class="content">
        <table class="table list no-border separator">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ form_widget(form.surname) }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ form_widget(form.email) }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn">Update</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
