{% extends 'base.html.twig' %}

{% block title %}Client list{% endblock %}

{% block body %}
    <h1 class="header yellow">Client list</h1>

    {% if clients is not empty %}

    <div class="content">
        <div class="table-list">
            <table class="table list">
                <thead>
                <tr class="filters">
                    <td></td>
                    <td colspan="3">
                        <input class="filter full-width" name="search" type="text" data-filter-key="search" value="{{ query.filters.search | default('') }}">
                    </td>
                    <td class="action">
                        <div>
                            <button class="btn btn-default apply-filter" type="button">Apply</button>
                            <a class="btn btn-default clear-filter" href="{{ path('client_index') }}">x</a>
                        </div>
                    </td>
                </tr>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.surname }}</td>
                        <td>{{ client.email }}</td>
                        <td class="action">
                            <div>
                                <a class="list-action-btn" href="{{ path('client_show', {'id': client.id}) }}">
                                    <span><i class="fa fa-eye"></i></span>
                                </a>
                                <a class="list-action-btn" href="{{ path('client_edit', {'id': client.id}) }}">
                                    <span><i class="fa fa-edit"></i></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination nav">
                {% for label, url in pagination.pageUrls %}
                    <a class="page btn btn-default {{ url is null ? 'disabled' : '' }} {{ label == pagination.page ? 'active' : ''}} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}" href="{{ url }}">
                        {{ label }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
        <h4 class="info-bar">No clients found</h4>
    {% endif %}

    <a class="btn btn-default" href="{{ path('client_new') }}"><i class="fa fa-plus fa-075x fa-vertical-align-middle"></i> Add</a>
{% endblock %}
