{% extends 'base.html.twig' %}

{% block title %}New client{% endblock %}

{% block body %}
    <h1 class="header yellow">New client</h1>

    <a class="btn btn-default" href="{{ path('client_index') }}">List</a>

    {{ form_start(form) }}

    <div class="content">
        <table class="table list no-border separator">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ form_widget(form.surname) }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ form_widget(form.email) }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
