{% extends 'base.html.twig' %}

{% block title %}Client {{ client.id }} | {{ client.name }} {{ client.surname}}{% endblock %}

{% block body %}
    <h1 class="header yellow">Client {{ client.id }}</h1>

    <a class="btn" href="{{ path('client_index') }}">List</a>
    <a class="btn" href="{{ path('client_edit', {'id': client.id}) }}">Edit</a>
    {{ include('client/_delete_form.html.twig') }}


    <div class="content">
        <table class="table list no-border separator">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ client.surname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
