{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/order/form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/orderItem/form.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1 class="header">Edit Order {{ order.id }}</h1>

    <h4 class="info-bar warning deleted-product-warning" style="display: none">Order contains not available products. Please, remove them or change product.</h4>

    <a class="btn btn-default" href="{{ path('order_list') }}">List</a>
    <a class="btn btn-default" href="{{ path('order_show', {'id': order.id}) }}">Preview</a>
    {{ include('order/_delete_form.html.twig') }}

    {{ form_start(form) }}

    <div class="content">
        <table class="table list no-border separator">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ order.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th style="width: 10em">Client</th>
                    <td>
                        {{ form_widget(form.client) }}
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {{ form_widget(form.status) }}
                    </td>
                </tr>
                <tr>
                    <th>Products</th>
                </tr>
                <tr>
                    <td colspan="2">{{ form_widget(form.orderItems) }}</td>
                </tr>
            </tbody>
        </table>
        
        <button class="btn" id="order_save">Update</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
