{# order \App\ViewModel\Order\OrderList #}

{% extends 'base.html.twig' %}

{% block title %}Order list{% endblock %}

{% block body %}
    {% import 'helpers.html.twig' as helper %}

    {% spaceless %}

    <h1 class="header">Order list</h1>

    {% if orders is not empty %}

        <div class="content">
            <div class="table-list">
                <table class="table list">
                    <thead>
                    <tr class="filters">
                        <td></td>
                        <td>
                            <select name="status" class="filter" data-filter-key="status">
                                <option {{ query.filters.status | default(null) == null ? 'selected' : '' }}></option>
                                <option value="pending" {{ query.filters.status | default(null) == 'pending' ? 'selected' : '' }}>Pending</option>
                                <option value="processing" {{ query.filters.status | default(null) == 'processing' ? 'selected' : '' }}>Processing</option>
                                <option value="complete" {{ query.filters.status | default(null) == 'complete' ? 'selected' : '' }}>Complete</option>
                            </select>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>From</td>
                                    <td><input name="totalPrice.from" class="filter" type="text" data-filter-key="totalPrice.from" value="{{ query.filters.totalPrice.from | default(null) }}"></td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td><input name="totalPrice.to" class="filter" type="text" data-filter-key="totalPrice.to" value="{{ query.filters.totalPrice.to | default(null) }}"></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div
                                class="select"
                                data-handler="clientRepository.getAutocompleteOptions"
                                style="width: 100%"
                            >
                                <div class="selected-options" style="width: 100%">
                                    {% if query.filters.client | default(null) %}
                                        <p class="selected-option">{{ filter.clinet.name }} {{ filter.clinet.surname }} ({{ filter.clinet.email }})</p>
                                    {% endif %}
                                    <p class="show-options"><i class="fa fa-caret-down"></i></p>
                                </div>
                                <div class="options-container hidden">
                                    <div class="autocomplete"><input class="autocomplete-input" placeholder="Search..."/></div>
                                    <div class="options">
                                    </div>
                                </div>
                                <input class="form-input filter" name="client" data-filter-key="client" value="{{ query.filters.client.id | default(null) }}"/>
                            </div>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>From</td>
                                    <td><input name="createdAt.from" class="filter" type="text" data-filter-key="createdAt.from" value="{{ query.filters.createdAt.from | default(null) }}"></td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td><input name="createdAt.to" class="filter" type="text" data-filter-key="createdAt.to" value="{{ query.filters.createdAt.to | default(null) }}"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="action">
                            <div>
                                <button class="btn btn-default apply-filter" type="button">Apply</button>
                                <a class="btn btn-default clear-filter" href="{{ path('order_list') }}">x</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Status</th>
                        <th
                                class="sortable {{ helper.sort_order_class(query.sortings, 'totalPrice') }}"
                                data-sort-url="{{ helper.sort_url('order_list', query.sortings, query.filters, 'totalPrice') }}"
                        >
                            Total price
                            <span class="sort-order"><i class="fa {{ helper.sort_order_icon_class(query.sortings, 'totalPrice') }}"></i></span>
                        </th>
                        <th>Client</th>
                        <th
                                class="sortable {{ helper.sort_order_class(query.sortings, 'createdAt') }}"
                                data-sort-url="{{ helper.sort_url('order_list', query.sortings, query.filters, 'createdAt') }}"
                        >
                            Created at
                            <span class="sort-order"><i class="fa {{ helper.sort_order_icon_class(query.sortings, 'createdAt') }}"></i></span>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr {{ order.containsDeletedProducts ? 'class="deleted-product-warning"' : ''}}>
                            <td>{{ order.id }}</td>
                            <td>{{ order.status | capitalize }}</td>
                            <td>{{ order.totalPrice | number_format(2, '.', ' ') }}</td>
                            <td>
                                <a href="{{ path('client_show', { id: order.client.id }) }}">
                                    {{ order.client.label }}
                                </a>
                            </td>
                            <td>{{ order.createdAt | date('Y-m-d H:i:s') }}</td>
                            <td class="action">
                                <div>
                                    <a class="list-action-btn" href="{{ path('order_show', {'id': order.id}) }}">
                                        <span><i class="fa fa-eye"></i></span>
                                    </a>
                                    <a class="list-action-btn" href="{{ path('order_edit', {'id': order.id}) }}">
                                        <span><i class="fa fa-edit"></i></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pagination nav">
                    {% for label, url in pagination.pageUrls %}
                        <a class="page btn btn-default {{ url ? '' : 'disabled' }} {{ label == pagination.page ? 'active' : ''}} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}" href="{{ url }}">
                            {{ label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% else %}
    <h4 class="info-bar">No orders found</h4>
    {% endif %}

    <a class="btn btn-default" href="{{ path('order_new') }}"><i class="fa fa-plus fa-075x fa-vertical-align-middle"></i> Add</a>
    {% endspaceless %}
{% endblock %}
