{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/order/form.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/orderItem/form.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1 class="header">New order</h1>

    <a class="btn btn-default" href="{{ path('order_list') }}">List</a>

    {{ form_start(form) }}

    <div class="content">
        <table class="table list no-border separator">
            <tbody>
            <tr>
                <th style="width: 10em">Client</th>
                <td>{{ form_widget(form.client) }}</td>
            </tr>
            <tr>
                <th>Products</th>
            </tr>
            <tr>
                <td colspan="2">{{ form_widget(form.orderItems) }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
