{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1 class="header">Order {{ order.id }}</h1>

    {% if order.containsDeletedProducts %}
        <h4 class="info-bar warning deleted-product-warning">Order contains not available products. Please, remove them or change product.</h4>
    {% endif %}

    <a class="btn" href="{{ path('order_list') }}">List</a>
    <a class="btn" href="{{ path('order_edit', {'id': order.id}) }}">Edit</a>
    {{ include('order/_delete_form.html.twig') }}


    <div class="content">
        <table class="table list no-border separator">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Created at</th>
                    <td>{{ order.createdAt | date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>
                        <a href="{{ path('client_show', { id: order.client.id }) }}">
                            {{ order.client.name }} {{ order.client.surname }} ({{ order.client.email }})
                        </a>
                    </td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        {{ order.status | capitalize }}
                    </td>
                </tr>
                <tr>
                    <th>Products</th>
                </tr>
                <tr>
                    <td colspan="2">
                        {% include 'orderItems/show.html.twig' with { items: order.orderItems } %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
