<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
    </head>
    <body>
    {% spaceless %}
        <div class="nav">
            <a class="btn btn-default first" href="{{ path('product_index') }}">Products</a>
            <a class="btn btn-default" href="{{ path('order_list') }}">Orders</a>
            <a class="btn btn-default last" href="{{ path('client_index') }}">Clients</a>
        </div>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/order/order.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/product/product.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/orderItem/orderItem.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/client/client.js') }}" type="text/javascript"></script>

            <script src="{{ asset('js/index.js') }}" type="text/javascript"></script>

            <script src="{{ asset('js/helpers.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/form.js') }}" type="text/javascript"></script>
        {% endblock %}

    {% endspaceless %}
    </body>
</html>
