{% block app_autocomplete_widget %}
{% spaceless %}
<div class="select" data-handler="{{ handler }}">
    <div class="selected-options">
        {% for choice in choices if is_selected.call(form, choice.value, value) %}
        <p class="selected-option">{{ choice.label }}</p>
        {% endfor %}
        <p class="show-options"><i class="fa fa-caret-down"></i></p>
    </div>
    <div class="options-container hidden">
        <div class="autocomplete"><input class="autocomplete-input" placeholder="Search..."/></div>
        <div class="options">
        </div>
    </div>
    <input class="form-input" id="{{ id }}" name="{{ form.vars.full_name }}" value="{{ value }}"/>
</div>
{% endspaceless %}
{% endblock %}