{% macro sort_order_class(sortings, field) %}
    {% spaceless %}
        {% if sortings is empty %}
        {% elseif sortings[field] | default('') == 'asc' %}
            asc
        {% elseif sortings[field] | default('') == 'desc' %}
            desc
        {% else %}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro sort_order_icon_class(sortings, field) %}
    {% spaceless %}
        {% if sortings is empty %}
        {% elseif sortings[field] | default('') == 'asc' %}
            fa-caret-up
        {% elseif sortings[field] | default('') == 'desc' %}
            fa-caret-down
        {% else %}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro sort_url(route, sortings, filters, field) %}

    {% set filters = prepare_query_params('filter', filters) %}

    {% spaceless %}
        {% if sortings[field] | default(null) is null %}
            {{ path(route, filters | merge({('sorting[' ~ field ~ ']'): 'desc'})) }}
        {% elseif sortings[field] | default('') == 'desc' %}
            {{ path(route, filters | merge({('sorting[' ~ field ~ ']'): 'asc'})) }}
        {% elseif sortings[field] | default('') == 'asc' %}
            {{ path(route, filters) }}
        {% else %}
        {% endif %}
    {% endspaceless %}
{% endmacro %}