{% form_theme _self as _form_theme %}

{% block _order_orderItems_widget %}
    {% spaceless %}

        {% import _self as helper %}

        <table
                class="table list"
                data-item-counter="{{ value.count }}"
                data-item-template="_order_orderItems_orderItem_template"
                id="{{ id }}"
        >
            <thead>
                <tr>
                    <th>Nr</th>
                    <th style="width: 15em">Product</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {{ block('_order_orderItems_orderItem_template') }}

            {% for item in form %}
                {{ helper.form_collection_entry(item) }}
            {% endfor %}
            </tbody>
        </table>

        {% if form.parent.vars.value.status == 'pending' or form.parent.vars.value.id is null %}
        <button
                class="btn info form-collection-add-new-entry"
                data-collection-holder="{{ id }}"
                id="_order_orderItems_orderItem_add_new"
                type="button"
        >
            Add
        </button>
        {% endif %}

    {% endspaceless %}
{% endblock %}

{% macro form_collection_entry(entry) %}

    {% import _self as helper %}

    {% set orderItem = entry.vars.data | default(null) %}
    {% set product = entry.product.vars.data | default(null) %}
    {% set autocompleteOff = {'attr': {'autocomplete': 'off'}} %}

    <tr>
        <td class="_order_orderItems_orderItem_index"></td>
        <td class="{{ helper.has_errors(entry.product, 'error') }}">{{ form_widget(entry.product) }}</td>
        <td class="_order_orderItems_orderItem_product_amount">{{ product.amount | default(0) | number_format(2, '.', ' ') }} {{ product.unit | default | default('') }}</td>
        <td class="_order_orderItems_orderItem_product_price">{{ product.price | default(0) | number_format(2, '.', ' ') }}</td>
        <td class="{{ helper.has_errors(entry.quantity, 'error') }}">{{ form_widget(entry.quantity, autocompleteOff) }}</td>
        <td class="_order_orderItems_orderItem_sum">{{ orderItem.sum | default(0) | number_format(2, '.', ' ') }}</td>
        <td class="action">
            <div>
                <a class="list-action-btn _order_orderItems_orderItem_delete_item">
                    <span><i class="fa fa-trash-o"></i></span>
                </a>
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro has_errors(form_view, error_class) %}
    {{ form_view.vars.errors.count > 0 ? error_class : '' }}
{% endmacro %}

{% block _order_orderItems_orderItem_template %}

    {% import _self as helper%}

    <template id="_order_orderItems_orderItem_template">
        {{ helper.form_collection_entry(prototype.children) }}
    </template>

{% endblock %}