{% import _self as _form %}

<table class="table list">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sum</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        {{ _form.row(item, loop.index) }}
    {% endfor %}
    </tbody>
</table>

{% macro row(item, index) %}
    <tr {{ item.product.deleted ? 'class="deleted-product-warning"' : '' }}>
        <td>{{ index }}</td>
        <td>{{ item.product.name }}</td>
        <td>{{ item.product.amount | number_format(2, '.', ' ') }} {{ item.product.unit }}</td>
        <td>{{ item.product.price | number_format(2, '.', ' ') }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ (item.quantity * item.product.price) | number_format(2, '.', ' ') }}</td>
    </tr>
{% endmacro %}