{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}

    {% import 'helpers.html.twig' as helper %}

    {% spaceless %}
        <h1 class="header info">Product list</h1>

        {% if products is not empty %}

        <div class="content">
            <table class="table list">
                <thead>
                    <tr class="filters">
                        <td></td>
                        <td>
                            <input name="name" class="filter" type="text" data-filter-key="name" value="{{ filters.name | default(null) }}" autocomplete="off">
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>From</td>
                                    <td><input name="price.from" class="filter" type="text" data-filter-key="price.from" value="{{ filters.price.from | default(null) }}"></td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td><input name="price.to" class="filter" type="text" data-filter-key="price.to" value="{{ filters.price.to | default(null) }}"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="action">
                            <div>
                                <button class="btn btn-default apply-filter" type="button">Apply</button>
                                <a class="btn btn-default clear-filter" href="{{ path('order_list') }}">x</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th
                            class="sortable {{ helper.sort_order_class(sortings, 'name') }}"
                            data-sort-url="{{ helper.sort_url('product_index', sortings, filters, 'name') }}"
                        >
                            Name
                            <span class="sort-order"><i class="fa {{ helper.sort_order_icon_class(sortings, 'name') }}"></i></span>
                        </th>
                        <th
                            class="sortable {{ helper.sort_order_class(sortings, 'price') }}"
                            data-sort-url="{{ helper.sort_url('product_index', sortings, filters, 'price') }}"
                        >
                            Price
                            <span class="sort-order"><i class="fa {{ helper.sort_order_icon_class(sortings, 'price') }}"></i></span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | number_format(2, '.', ' ') }}</td>
                        <td class="action">
                            <div>
                                <a class="list-action-btn" href="{{ path('product_show', {'id': product.id}) }}">
                                    <span><i class="fa fa-eye"></i> </span>
                                </a>
                                <a class="list-action-btn {{ product.deleted ? 'disabled' : '' }}" href="{{ product.deleted ? '#' : path('product_edit', {'id': product.id}) }}">
                                    <span><i class="fa fa-edit"></i></span>
                                </a>
                                <a class="list-action-btn {{ product.deleted ? 'disabled' : '' }}" onclick="{{ not product.deleted ? 'confirm(\'Are you sure you want to delete this item?\') ? document.getElementById(`delete_form_' ~ product.id ~ '`).submit() : false' : ''}}">
                                    <form id="delete_form_{{ product.id }}" style="display: none" method="post" action="{{ path('product_delete', {'id': product.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                                    </form>
                                    <span><i class="fa fa-trash"></i></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% else %}
        <h4 class="info-bar">No products found</h4>
        {% endif %}

        <a class="btn btn-default" href="{{ path('product_new') }}"><i class="fa fa-plus fa-075x fa-vertical-align-middle"></i> Add</a>
    {% endspaceless %}
{% endblock %}
