{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block body %}
    <h1 class="header info">New product {{ product.id }}</h1>

    <a class="btn" href="{{ path('product_index') }}">List</a>

    {{ form_start(form) }}
    <div class="content">
        <table class="table list no-border separator">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ form_widget(form.amount) }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ form_widget(form.unit) }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ form_widget(form.price) }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn">Save</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
