{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="header info">Product {{ product.id }}</h1>

    <a class="btn" href="{{ path('product_index') }}">List</a>
    {% if not product.deleted %}
        <a class="btn" href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
        {{ include('product/_delete_form.html.twig') }}
    {% endif %}

    <div class="content">
        <table class="table list no-border separator">
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ product.amount }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ product.unit}}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
