.selected-options {
    background-color: #ffffff;
    border: 1px solid darkgrey;
    padding: 1px 20px 1px 2px;
    height: 1.3rem;
    position: relative;
    text-wrap: avoid;
    overflow: hidden;
    cursor: pointer;
}

.selected-options .selected-option {
    font-size: 0.7em;
    /*background-color: #e1e1e1;*/
    border-radius: 3px;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-wrap: avoid;
    white-space: nowrap;
}

.select .show-options {
    font-size: 0.7em;
    margin: 0;
    padding: 0 5px;
    position: absolute;
    top: 50%;
    right: 2px  ;
    transform: translate(0, -50%);
    z-index: 10;
}

.options-container {
    border-color: darkgrey;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    background-color: #ffffff;
    position: absolute;
    z-index: 10;
    width: 100%;
}

.options-container .autocomplete {
    border-width: 0 0 1px 0;
    border-color: darkgrey;
    border-style: solid;

}

.options-container .autocomplete input {
    border-width: 0;
    width: 100%;
    padding: 3px;
    font-size: 0.7em;
    height: 100%;
    display: inline-block;
    margin: 2px 0;
}

.options-container .autocomplete input:focus {
    outline: none;
}

.options-container .options .option {
    font-size: 0.7em;
    padding: 0.3em;
}

.options-container .options .option:hover {
    background-color: #c8c8c8;
    cursor: pointer;
}

.options-container.hidden {
    display: none;
}

.select .form-input {
    display: none;
}

.select {
    position: relative;
}

.select[disabled="disabled"] {
    pointer-events: none;
}

.select[disabled="disabled"] .selected-options {
    background-color: #ebebe4;
    user-select: none;
    color: #5a5a5a;
}