h1.header {
    background-color: #93cb84;
    border-left: 5px solid #7bac6d;
    color: #ffffff;
    margin: 10px 0;
    padding: 20px;
}

h4.info-bar {
    background-color: #cfcfcf;
    border-left: 5px solid #afafaf;
    color: #ffffff;
    margin: 10px 0;
    padding: 10px;
}

h1.header.info,
h4.info-bar.info,
.btn.info {
    background-color: #a4d9ff;
    border-color: #87b8d6;
    color: white;
}

.btn.info:hover {
    background-color: #d1eaff !important;
    border-color: #98cff1 !important;
    color: #f3f3f3 !important;
}

h1.header.yellow,
h4.info-bar.yellow,
.btn.yellow {
    background-color: #ffdd51;
    border-color: #e2c448;
}

.btn.yellow:hover {
    background-color: #ffe08d !important;
    border-color: #e4c77e !important;
    color: #f3f3f3 !important;
}

h1.header.warning,
h4.info-bar.warning,
.btn.warning {
    background-color: #ffe5be;
    border-color: #dbc5a2;
}

.btn.warning:hover {
    background-color: #ffe7ce !important;
    border-color: #f2dbc3 !important;
    color: #f3f3f3 !important;
}