table.table.list {
    border-collapse: collapse;
    border-spacing: 0;
    border: 3px solid #000000;
    margin: 10px 0;
    table-layout: fixed;
}

table.table.list.no-border,
table.table.list.no-border > tr > th,
table.table.list.no-border > tr > td,
table.table.list.no-border > thead > tr > th,
table.table.list.no-border > tbody > tr > td,
table.table.list.no-border > tbody > tr > th {
     border: none;
}

table.table.list.separator > tr > th::after,
table.table.list.separator > thead > tr > th::after,x
table.table.list.separator > tbody > tr > th::after {
    content: ":";
}

table.table.list td,
table.table.list th {
    padding: 5px 20px;
    text-align: left;
}

table.table.list td.action {
    padding: 0 0 0 0;
}

table.table.list td.action div {
    display: flex;
}

table.table.list td,
table.table.list th {
    border: 1px solid #000000;
}

table.table.list .list-action-btn {
    background-color: #e1e1e1;
    color: #000000;
    display: block;
    height: 100%;
    padding: 1em 1.2em;
    position: relative;
    text-decoration: none;
    width: 100%;
    border: none;
}

 table.table.list .list-action-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table.table.list .list-action-btn:hover {
    background-color: #f7f7f7;
    color: #7c7c7c;
}

table.table.list th.sortable {
    cursor: pointer;
}

table.table.list th.sortable.desc {
    background-color: #f5fff4;
}
table.table.list th.sortable.asc {
    background-color: #fff5f4;
}

table.table.list tr.filters table td,
table.table.list tr.filters table th {
    border: hidden !important;
    padding: 0;
}

table.table.list tr.filters,
table.table.list > thead > tr.filters > td {
    border: hidden;
    border-bottom: 3px solid #000000;
}

table.table.list tr.filters td.action {
    padding: 6px 0px;
}

table.table.list tr.filters td.action button.apply-filter {
    border-right: hidden;
    margin-right: 0;
}

table.table.list tr.filters td.action a.clear-filter {
    border-left: hidden;
    margin-left: 0;
}

table.table.list button.list-action-btn {
    font-size: 1em;
}

table.table.list .list-action-btn:disabled,
table.table.list .list-action-btn.disabled {
    background-color: #f9f9f9;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    color: #adadad;
}

table.table.list .list-action-btn:disabled:hover,
table.table.list .list-action-btn.disabled {
    background-color: #f9f9f9;
    color: #adadad;
    pointer-events: none;
}

tr.deleted-product-warning td,
tr.deleted-product-warning input,
tr.deleted-product-warning .selected-options {
    background-color: #ffe5be;
}

table.table.list td.error {
    background-color: #ffffff;
}

table.table.list td.error * {
    border-color: #ffdde1;
    background-color: #fff1f8;
}