@import "font-awesome.min.css";
@import "list-table.css";
@import "headers.css";
@import "form.css";

/* Font awesome */
.fa.fa-vertical-align-middle {
    vertical-align: middle;
}
.fa.fa-075x {
    font-size: 0.75em;
}

/* General */
* {
    box-sizing: border-box;
    font-family: 'Menlo', 'Monaco', monospace;
}

.btn {
    background-color: #e9e9e9;
    border: 2px solid #bfbfbf;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 7px 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #f9f9f9;
    border: 2px solid #dcdcdc;
    color: #343434;
}

.btn.active {
    background-color: #d6d6d6;
    border-color: #aaaaaa;
    color: #000000;
    pointer-events: none;
}

.btn:not(:last-child) {
    margin: 0 0.3rem 0 0;
}

.nav .btn:not(:last-child) {
    margin-right: 0;
}

.nav,
.content {
    background-color: #f9f9f9;
}

.nav .btn.first:not(.last) {
    border-right: hidden;
}

.nav .btn.last:not(.first) {
    border-left: hidden;
}

.nav .btn:not(.first):not(.last) {
    border-left-width: 1px;
    border-right-width: 1px;
}

.table-list {
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: center;
}

.btn.disabled {
    color: grey;
    background-color: #ececec;
    border-color: #dedede;
    pointer-events: none;
}

.full-width {
    width: 100%;
}

input {
    padding: 2px;
    border: 1px solid darkgray;
}

input.disabled {
    background-color: #ebebe4;
    user-select: none;
    color: #5a5a5a;
}